@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins:wght@200;400;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: "Poppins" , sans-serif;
}

li{
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::after{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background-color: #db235a;
  right: 0;
  bottom: -5px;
  color: #db235a;
}

.icon{
  cursor: pointer;
}

.card{
  background: #000;
}